@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap')
@import 'normalize'
@import 'reset'

*
  box-sizing border-box
  user-select none
  border-radius 3px !important // Decide br for this app.
  
body
  font-family 'Inter', sans-serif
  color #000000
  &::-webkit-scrollbar
    display none !important
  background-color #dbdbdb

.container
  padding-top 100px
  width 100%
  max-width 1200px
  margin 0 auto

img 
  pointer-events none
  user-select none